redis:      redis-server
#memcached:  memcached
#scheduler:  bundle exec rake resque:scheduler
rails:      RAILS_ENV=development RAILS_MIN_THREADS=8 RAILS_MAX_THREADS=16 RAILS_WEB_CONCURRENCY=3 puma -C config/puma.rb
#resque:     bundle exec rake environment resque:work RAILS_ENV=development QUEUE=critical,high,medium,low,mailer VERBOSE=1 PIDFILE=tmp/pids/resque_worker.pid